In [1]:
import pandas as pd

• read_csv:<br>
◦ filter the rows with index 2 and 3 using the argument skiprows, we know that
these observations were fake<br>
◦ filter the last 2 rows from the footer using the argument skipfooter, we know
that these observations were fake too<br>
◦ assign the following names to the column: datetime, user<br>
◦ use datetime as the index column

In [3]:
df = pd.read_csv('feed-views.log', skiprows=[2,3], skipfooter=2, names=['datetime', 'user'], engine='python', sep='\t',index_col='datetime')
df

                                       user
datetime
date_time;user                          NaN
2020-04-17 12:01:08.463179;artem        NaN
2020-04-17 12:36:21.401412;oksana       NaN
2020-04-17 12:36:22.023355;oksana       NaN
2020-04-17 13:55:19.129243;artem        NaN
2020-04-17 15:00:33.138530;artem        NaN
2020-04-17 15:14:09.581054;artem        NaN
2020-04-17 22:46:26.785035;vladislav    NaN
2020-04-18 00:30:45.051569;artem        NaN
2020-04-18 10:53:52.623447;konstantin   NaN
2020-04-18 10:56:55.833899;maxim        NaN
2020-04-18 10:57:37.331258;konstantin   NaN
2020-04-18 11:02:42.796521;artem        NaN

• rename datetime to date_time

In [4]:
df.index.name = 'date_time'
df

                                       user
date_time
date_time;user                          NaN
2020-04-17 12:01:08.463179;artem        NaN
2020-04-17 12:36:21.401412;oksana       NaN
2020-04-17 12:36:22.023355;oksana       NaN
2020-04-17 13:55:19.129243;artem        NaN
2020-04-17 15:00:33.138530;artem        NaN
2020-04-17 15:14:09.581054;artem        NaN
2020-04-17 22:46:26.785035;vladislav    NaN
2020-04-18 00:30:45.051569;artem        NaN
2020-04-18 10:53:52.623447;konstantin   NaN
2020-04-18 10:56:55.833899;maxim        NaN
2020-04-18 10:57:37.331258;konstantin   NaN
2020-04-18 11:02:42.796521;artem        NaN

• to_csv:<br>
◦ use ’;’ as the delimiter<br>
◦ save it to a file with the name feed-views-semicolon.log

In [4]:
df.to_csv('feed-views-semicolon.log', sep=';')