In [72]:
import pandas as pd

reading file auto.csv and making assignment to index_col ='ID'
df for print

In [84]:
df = pd.read_csv('auto.csv', index_col ='ID')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

using method count for number of observations

In [85]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last') delete all duplicates repeated words simultanioulsy in cloumns ['CarNumber', 'Make_n_model', 'Fines'] and leave only the last

In [86]:
df = df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
5    92918M178RUS      Ford Focus     1.0   5700.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[725 rows x 5 columns]

isna() finds missings in df and returns with tag 'True', after sum() calculate these 'True' and returns quantatity in a new column opposite for each original column

In [87]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

axis=1 means that we drop columns which cotnains missing value, threshh = 500 means that we drop columns wherer 500 missing values

In [88]:
df = df.dropna(axis = 1, thresh = 500)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

replacing in Refund all missing values on value of previous cell in this column and printing how many non-filled columns

In [89]:
df['Refund'].fillna(method='ffill', inplace = True)
df.isna().sum()

C:\Users\Engineerstallin\AppData\Local\Temp\ipykernel_20676\4145112352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Refund'].fillna(method='ffill', inplace = True)

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

replacing all mising values on average value of all non-missing(NaN) values in Fines and printing how many non-filled columns

In [90]:
df['Fines'].fillna(df['Fines'].mean(), inplace=True)
df.isna().sum()

C:\Users\Engineerstallin\AppData\Local\Temp\ipykernel_20676\3204380992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fines'].fillna(df['Fines'].mean(), inplace=True)

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

apllying lambda function to Make_n_model and creating a new column Make with writing in a cell correpsonding string from list resulted from x.split()[0]
apllying lambda function to Make_n_model and creating a new column Model with writing in a cell correpsonding string from list resulted from x.split()[0]
droping column Make_n_model
printing df

In [91]:
df['Make']=df['Make_n_model'].apply(lambda x: x.split()[0])
df['Model']=df['Make_n_model'].apply(lambda x: x.split()[1] if len(x.split()) == 2 else None)
df.drop('Make_n_model',axis=1, inplace=True)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

saving the df in auto.json

In [ ]:
df.to_json('auto.json', orient='records', double_precision=1)